# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.local

# Build directories
dist/
build/

# IDE/Editor folders
.vscode/
.idea/

# Cache
.cache/
*.tmp

# Dependency locks
package-lock.json
yarn.lock
